body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.app{
  background:#020617;
  color:white;
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
}

button{
  padding:8px 16px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  margin-bottom:12px;
}

img{
  border-radius:50%;
  margin-top:10px;
}
